@model BorrowBookBindingModel
@{
    ViewData["Title"] = "Borrow Book";
}

<form method="post">
    <div class="form-group">
        <div class="alert-danger" asp-validation-summary="All"></div>
        <label asp-for="Name"></label>
        <select class="custom-select form-control" required asp-for="Name">
            <option selected disabled="disabled">Select Borrower</option>

            @foreach (var name in this.ViewBag.Names)
            {
                <option value="@name">@name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="@Model.StartDate"></label>
        <input type="date" asp-for="@Model.StartDate" class="form-control" placeholder="Select Start Date" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.EndDate"></label>
        <input type="date" asp-for="@Model.EndDate" class="form-control" placeholder="Select End Date (Optional)" />
    </div>
    <button type="submit" class="btn btn-dark">Borrow Book</button>
    <a class="btn btn-dark" asp-page="/Index">Cancel</a>
</form>


